@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$font-1:"Inter",
sans-serif;
$font-2:"Changa One",
sans-serif;
$font-3:"Nunito",
sans-serif;
// 
$white:#fff;
$black:#000;
$primary: #FBBD02;
$secondary: #6310FF;
$text:#727079;
$heading: #fff;
$border: #742AFB;
$bg:#070707;
$body:#050715;